/* Global */
*, *::before, *::after {
  box-sizing: border-box; }

/* Variables */
body {
  margin: 0;
  font-size: 16px;
  word-spacing: 1.7;
  color: #2d3436;
  font-family: "Inconsolata", monospace; }

/* Global */
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto; }

section {
  padding: 96px 0; }

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s; }

.section-title {
  margin: 0 0 72px 0;
  font-size: 48px;
  font-family: "Inconsolata", monospace;
  color: #2d3436; }

.element-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* Navigation */
.navigation {
  background: #00b894;
  padding: 12px 0; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative; }

.navigation a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0; }

.navigation a:hover {
  color: #d63031; }

.navigation li ul {
  display: block;
  text-align: center;
  position: absolute;
  background: #fff;
  left: 50%;
  transform: scaleY(0) translateX(-50%);
  padding-top: 12px;
  transition: all 1s;
  transform-origin: 50% 0;
  top: 130%; }

.navigation li:hover ul {
  transform: scaleY(1) translateX(-50%); }

.navigation li ul li {
  display: block;
  margin: 0 0 12px 0;
  display: none; }

.navigation ul li:hover li {
  display: block; }

.navigation li ul a {
  color: #00b894;
  display: block;
  padding: 0 24px; }

/* Splash */
.splash {
  background: #00b894;
  min-height: 500px;
  color: #fff;
  display: flex; }

.splash-inner {
  margin: auto;
  max-width: 70%; }

.page-title {
  margin: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.2;
  word-spacing: -24px; }

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px; }

.page-title span {
  font-weight: 700; }

.btn-one {
  border-color: #fff;
  color: #fff;
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%); }

.btn:hover {
  background-position: 0 100%;
  color: #00b894; }

/* Services */
.services {
  margin: 0 auto;
  padding: 96px 0; }

.services-box {
  flex: 0 0 33.333%; }

.element-bg {
  position: relative; }

.bg-number {
  position: absolute;
  font-size: 144px;
  line-height: 1;
  font-family: "Signika", sans-serif;
  margin: 0;
  opacity: 0.2;
  top: -25px;
  color: #d63031; }

.element-content {
  padding-right: 50px; }

.element-title {
  font-size: 30px;
  margin: 0 0 12px 0; }

.element-content p:first-of-type {
  font-size: 16px;
  margin: 0;
  font-weight: 900; }

.element-content p:last-of-type {
  font-size: 14px;
  line-height: 2; }

.btn-two {
  color: #00b894; }

.btn-two:hover {
  color: #d63031; }

.btn-three {
  color: #fdcb6e; }

.btn-four {
  color: #d63031; }

/* Work */
.img-1 {
  background-image: url("https://i.postimg.cc/MHQF8c4c/white-concrete-building-2987769.jpg"); }

.img-2 {
  background-image: url("https://i.postimg.cc/pTFL3C2K/gray-metal-cubes-decorative-1005644.jpg"); }

.img-3 {
  background-image: url("https://i.postimg.cc/65YtjgdD/white-staircase-2450885.jpg"); }

.img-4 {
  background-image: url("https://i.postimg.cc/qqDDns3Z/black-spiral-stair-2438212.jpg"); }

.work-box {
  flex: 0 0 50%;
  min-height: 300px;
  margin: 0 0 96px 0; }

.work-list {
  display: flex; }

.work-content {
  flex: 0 0 50%; }

.work-inner {
  max-width: 250px;
  height: 100%; }

.img-1, .img-2, .img-3, .img-4 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative; }

.work-description {
  padding: 36px 0 36px 30px;
  text-align: left; }

.work-inner::after {
  position: absolute;
  content: '';
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #00b894;
  opacity: 0.3;
  transition: all 1s; }

.work-inner:hover::after {
  transform: translate(-20px, -20px); }

.inner-title {
  font-size: 22px; }

.work-description p {
  font-size: 14px;
  line-height: 1.4; }

.work-description p:last-of-type {
  font-weight: 900; }

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: #00b894; }

.btn-five:hover {
  color: #d63031; }

/* Contact */
.contact {
  background: #00b894; }

.contact-title {
  color: #fff; }

.form-box {
  flex: 2 0 0; }

.contact-box {
  flex: 1 0 0;
  color: #fff; }

.form {
  padding-left: 96px; }

.short-input input {
  width: 85%;
  height: 40px;
  margin-bottom: 2px;
  background: inherit;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-family: "Inconsolata", monospace; }

.textarea textarea {
  width: 85%;
  height: 150px;
  background: inherit;
  border: none;
  border-bottom: 3px solid #fff;
  padding-top: 20px;
  color: #fff;
  font-family: "Inconsolata", monospace; }

.short-input input:focus, textarea:focus {
  outline: none; }

::placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  color: #fff; }

.btn-six {
  color: #fff;
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%); }

.contact-box h1 {
  font-size: 20px;
  font-weight: 900; }

.contact-box p {
  font-size: 12px;
  line-height: 2; }

/* Footer */
.page-footer {
  padding: 48px 0 48px 0; }

.footer-list {
  display: table;
  margin: 0 auto; }

.footer-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.footer-list ul li {
  display: inline;
  font-size: 0; }

.page-footer i {
  font-size: 30px;
  background: #d63031;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 1s; }

.page-footer i:hover {
  transform: scale(1.5); }

/* Media */
@media (max-width: 767px) {
  .element-box {
    flex-direction: column; }

  section {
    padding: 20px 0; }

  .section-title {
    margin: 0 0 60px 0;
    font-size: 36px; }

  .navigation li {
    margin: 0 5px 0 0; }

  .splash-inner {
    max-width: 90%; }

  .page-title {
    font-size: 60px; }

  .page-subtitle {
    font-size: 14px; }

  .services-box {
    margin: 40px 0 0 0; }

  .element-title {
    font-size: 26px; }

  .element-content p:last-of-type {
    line-height: 1.5; }

  .work-box {
    margin: 0 0 20px 0; }

  .work-list {
    flex-direction: column; }

  .work-inner {
    max-width: 100%;
    height: 200px; }

  .work-description {
    padding: 20px 0 20px 0; }

  .contact-box {
    margin: 40px 0 0 0; } }
